body{
	background-color: #BF8073;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 150px;
}
h1{
	color: #FFC0B3;
	font-size: 64px;
}
h2{
	color: #FFC0B3;
	font-size: 48px;
}
p{
	color: #212121;
}
ul{
	color: #212121;
	font-size: 14px;
	text-align: left;
}
a{
	color: white;
	font-size: 11px;
	text-decoration: none;
}